<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link href="/output.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="/utm.js"></script>
  <script defer src="https://cloud.umami.is/script.js" data-website-id="2a6b3aa4-bce8-4ceb-b501-3fb3d8bb5b1e"></script>
</head>
<body>
{{ content | safe }}
</body>
</html>